<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>AP Solution</title>
  </head>
  <body>
    {{> navbar data = details}}

          {{> slider slides = slides}}

    {{! ----section banner 1  }}

    <section class="banner1_section background1 py-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>Start learning new technology here!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veritatis commodi maiores enim, ratione culpa accusamus fugit
              laudantium consequuntur sapiente, alias, ipsa excepturi magnam. A
              ipsam deleniti architecto laudantium maxime repellendus!</p>
            <button class="btn btn-outline-primary">
              Start learning
            </button>
          </div>
        </div>
      </div>
    </section>

    {{! ----Services Section---- }}

    <section id="services_section" class="py-4">
      <div class="container">
        <h1 class="text-center text-secondary">Services we Provide</h1>
        <div class="row mt-5">

          {{! --First service col-- }}
          {{#each services}}
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="container text-center py-3">
                    <i class="{{this.icon}} service-icon"></i>

                  </div>
                  <h5 class="card-title">{{this.title}}</h5>
                  <p>{{this.description}}</p>
                  <a href="{{this.link}}">{{this.linkText}}</a>
                  <a href="#!">Support</a>
                </div>
              </div>

            </div>
          {{/each}}
        </div>
      </div>
    </section>

    {{! -----Banner 2 Section ---- }}

    <section class="banner2_section py-5">
      <div class="container">
            {{#each bannerr}}
        <div class="row">
          <div class="col-md-6 text-center pt-5">
            {{! left side }}
            <h3>{{this.title}} </h3>
            <p>{{this.description}}</p>
            <button class="btn btn-primary">Click Here</button>

          </div>
          <div class="col-md-6 text-center">
            {{! right side }}
            <img src="{{this.imageUrl}}" alt="" />
          </div>
        </div>
        {{/each}}
      </div>
    </section>

    {{! --- Banner3 Section  }}

    <section class="banner2_section py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            {{! left side }}
            <img src="/static/images/p9.jpg" alt="" width="300" height="300" />

          </div>
          <div class="col-md-6 text-center py-5">
            {{! right side }}
            <h3>We work for people, not for money</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos vel
              ad nihil tempora esse ipsum culpa! Ad, ea velit ut aliquam aut
              reprehenderit, earum, illo dignissimos animi eveniet odit
              voluptate!</p>
            <button class="btn btn-primary">Click Here</button>
          </div>
        </div>
      </div>
    </section>

    {{! Contactus Section }}

    <section id="contact_us_section" class="py-5 background1">
      <div class="container">
        <h3 class="text-center text-secondary">Contact us</h3>
        <div class="row">
          <div class="col-md-12">
            <form action="/process-contact-form" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your email
                  address</label>
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">We'll never share your
                  email with anyone else.</div>
              </div>
              <div class="mb-3">

                <label for="contactNumberField" class="form-label">Your contact
                  number</label>
                <input
                  name="contact"
                  type="number"
                  class="form-control"
                  id="contactNumberField"
                />
              </div>
              <div class="form-floating my-2">
                <textarea
                  name="query"
                  class="form-control"
                  style="height: 250px"
                  placeholder="Enter your query here"
                  id="queryField"
                ></textarea>
                <label for="queryField">Your query..</label>
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-dark">Submit</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {{! ----About Section  }}

    <section id="about_section" class=" py-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h3> About this site</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Sapiente doloribus incidunt alias praesentium, totam dolor, labore
              dolorum eveniet sint numquam illo, ullam aliquid vel accusantium
              at architecto quia quas autem Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Illum debitis eveniet fugit
              voluptatibus dicta vero incidunt corporis eaque aut qui
              temporibus, expedita maxime, consequatur blanditiis accusantium
              mollitia vitae quas voluptate.
            </p>
            <button class="btn btn-success btn-lg">Contact us</button>
          </div>
        </div>
      </div>
    </section>
  {{> footer}}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>